---
layout: page
layout_options:
  container: false
title: Writing
subtitle: Essays, fiction, and other longform writing.
---

{% assign essays = site.essays | sort: 'date' | reverse %}

<div class="tile is-ancestor">
  {% for essay in essays limit: 2 %}

    {% capture subtitle %}
      <time datetime="{{ essay.date | date_to_xmlschema }}">
        {{ essay.date | date: '%B %Y' }}
      </time>
    {% endcapture %}

    <div class="tile is-parent">
      <div class="tile is-child">
        {%
          include image-card.html
            size = "large"
            title = essay.title
            subtitle = subtitle
            image = essay.image.path
            link = essay.url
        %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="tile is-ancestor">
  {% for essay in essays offset: 2 %}

    {% capture subtitle %}
      <time datetime="{{ essay.date | date_to_xmlschema }}">
        {{ essay.date | date: '%B %Y' }}
      </time>
    {% endcapture %}

    <div class="tile is-parent">
      <div class="tile is-child">
        {%
          include image-card.html
            title = essay.title
            subtitle = subtitle
            image = essay.image.path
            link = essay.url
        %}
      </div>
    </div>
  {% endfor %}
</div>
