---
layout: page
layout_options:
  container: false
title: Writing
subtitle: Essays, fiction, and other longform writing.
---

{% assign essays = site.essays | sort: 'date' | reverse %}

<div class="tile is-ancestor">
  {% for essay in essays limit: 2 %}
    <div class="tile is-parent">
      <div class="tile is-child">
        {% include essay/preview.html size="large" %}
      </div>
    </div>
  {% endfor %}
</div>

<div class="tile is-ancestor">
  {% for essay in essays offset: 2 %}
    <div class="tile is-parent">
      <div class="tile is-child">
        {% include essay/preview.html %}
      </div>
    </div>
  {% endfor %}
</div>
