// COMPASS DEFAULTS

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

// COMPASS

@import 'compass';

// FUNCTIONS & MIXINS

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

@mixin above($breakpoint) {
  // > 320px
  @if $breakpoint == '-' {
    @media screen and (min-width: 20em) {
      @content;
    }
  }
  // > 480px
  @else if $breakpoint == '--' {
    @media screen and (min-width: 30em) {
      @content;
    }
  }
  // > 600px
  @else if $breakpoint == '---' {
    @media screen and (min-width: 37.5em) {
      @content;
    }
  }
  // > 800px
  @else if $breakpoint == '----' {
    @media screen and (min-width: 50em) {
      @content;
    }
  }
  // > 1024px
  @else if $breakpoint == '-----' {
    @media screen and (min-width: 64em) {
      @content;
    }
  }
  // > 1200px
  @else if $breakpoint == '------' {
    @media screen and (min-width: 75em) {
      @content;
    }
  }
  // > 1920px
  @else if $breakpoint == '-------' {
    @media screen and (min-width: 120em) {
      @content;
    }
  }
}

@mixin below($breakpoint) {
  // < 320px
  @if $breakpoint == '-' {
    @media screen and (max-width: 20em) {
      @content;
    }
  }
  // < 480px
  @else if $breakpoint == '--' {
    @media screen and (max-width: 30em) {
      @content;
    }
  }
  // < 600px
  @else if $breakpoint == '---' {
    @media screen and (max-width: 37.5em) {
      @content;
    }
  }
  // < 800px
  @else if $breakpoint == '----' {
    @media screen and (max-width: 50em) {
      @content;
    }
  }
  // < 1024px
  @else if $breakpoint == '-----' {
    @media screen and (max-width: 64em) {
      @content;
    }
  }
  // < 1200px
  @else if $breakpoint == '------' {
    @media screen and (max-width: 75em) {
      @content;
    }
  }
  // < 1920px
  @else if $breakpoint == '-------' {
    @media screen and (max-width: 120em) {
      @content;
    }
  }
}

@mixin hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// SITE CONFIG

$debug: false;
// $debug: true;

$body-padding: 1em;

$color-black: #444;
$color-light-grey: #f1f1f1;
$color-grey: #ccc;
$color-primary: rgb(55, 188, 250);

$font-xxl: 28px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;

$space-xs: 0.25em;
$space-s: 0.5em;
$space-m: 1em;
$space-l: 2em;
$space-xl: 4em;

$default-text-color: $color-black;

$masthead-width: 80px;
$masthead-width-open: 150px;