
///////////////////////////////////////////////
// CONFIG
///////////////////////////////////////////////

// COMPASS DEFAULTS

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

// COMPASS

@import 'compass';

// FUNCTIONS

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

// SITE CONFIG

$debug: false;
// $debug: true;

$body-padding: 1em;

$color-black: #444;
$color-light-grey: #f1f1f1;
$color-grey: #ccc;
$color-primary: rgb(55, 188, 250);

$font-xl: 28px;
$font-l: 24px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;

$default-text-color: $color-black;

$masthead-width: 80px;
$masthead-width-open: 150px;

///////////////////////////////////////////////
// NORMALIZE
///////////////////////////////////////////////

@import 'normalize';

///////////////////////////////////////////////
// PLACEHOLDERS
///////////////////////////////////////////////

%container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  
}

%group {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%code {
  background: #f1f1f1;
  font-family: monospace;
}

%unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

///////////////////////////////////////////////
// GLOBAL
///////////////////////////////////////////////

@include establish-baseline;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-weight: normal;
  font-family: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  border-top: 10px solid $color-primary;

  display: flex;
  flex-direction: column;
  min-height: 100%;

  @if $debug == true {
    @include debug-vertical-alignment;
  }
}

p {
  margin: 0;
  @include adjust-leading-to(1);
  @include trailer;
}

a {
  text-decoration: underline;
  color: $default-text-color;
  @include transition(0.25s color ease);

  &:hover {
    color: $color-primary;
  }
}

h1 {
  @include trailer(0.5);
  @include adjust-font-size-to($font-xl, 1.2);
}

h2, h3, h4, h5, h6 {
  @include trailer(0.5);
  @include adjust-font-size-to($font-l, 1.2);
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.6em;
   @include adjust-font-size-to($font-xs);
}

sub {
  top: 0.4em;
}

ul, ol {
  @include trailer;

  li {
    @include trailer(0.25);
  }
}

hr {
  height: 1px;
  border: none;
  background: $color-grey;
}

blockquote {
  border-left: 5px solid $color-primary;
  padding-left: rhythm(0.5);
}

code {
  @extend %code;
  padding: 0.125em 0.25em;
}

///////////////////////////////////////////////
// MASTHEAD
///////////////////////////////////////////////

.masthead {
  background: #f5f5f5;
  padding: 0 rhythm(1);
  text-align: justify;
  height: rhythm(3);
  @include adjust-leading-to(3);
  @include trailer;

  &::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
  }
  
  a {
    text-decoration: none;
  }

}

.masthead__branding {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  @include adjust-font-size-to(36px, 3);

  a {
    position: relative;
    display: block;
  }

}

.masthead__nav {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 70%;

  h1 {
    @extend %hidden;
  }

}

.masthead__nav-list {
  @extend %unstyled-list;
}

.masthead__nav-item {
  display: inline-block;
  margin-left: 8%;
  @include adjust-leading-to(1);
}

///////////////////////////////////////////////
// MAIN
///////////////////////////////////////////////

#main {
  flex: 1;
}

///////////////////////////////////////////////
// ARTICLE LIST
///////////////////////////////////////////////

.article-list {

  .article {
    @include leader(2);
    @include padding-trailer(4);
    border-bottom: 1px solid $color-light-grey;

    &:first-child {
      @include leader(0);
    }
    &:last-child {
      @include padding-trailer(0);
    }
  }

}

///////////////////////////////////////////////
// ARTICLE
///////////////////////////////////////////////

.article {

  
}

.article__content {
  
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

}

.article__title {
  text-align: center;
  @include leader;
  @include trailer;
  
  a {
    text-decoration: none;
  }
  
}

.article__pubdate {
  display: block;
  margin: 0;
  color: lighten($default-text-color, 25%);
  @include trailer(0.5);
  @include adjust-font-size-to($font-xs);
}

.footnotes {
  @include adjust-font-size-to($font-xs);

  p {
    display: inline;
  }
}

///////////////////////////////////////////////
// ABOUT
///////////////////////////////////////////////

.about__icons {
  @include adjust-font-size-to(80px);
}

///////////////////////////////////////////////
// GRID
///////////////////////////////////////////////

.center {

  > p,
  > blockquote,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > .highlight,
  > .gist {
    
    @media screen and (min-width: 37.5em) {
      margin-left: 10%;
      margin-right: 10%;
    }

    @media screen and (min-width: 50em) {
      margin-left: 20%;
      margin-right: 20%;
    }

  }

  > .highlight {
    @include trailer;
  }

}

.pull {
  width: 100%;
  @include leader;
  @include trailer;

  img {
    max-width: 100%;
    height: auto;
  }
}

.push-right {
  margin-left: auto;
  margin-right: 0;
}

.pull-left {
  margin-left: 0;
  margin-right: auto;
}

///////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////

#footer {
  text-align: center;
  @include adjust-font-size-to($font-xs);
  
  .container {
    border-top: 1px solid $color-light-grey;
    @include leader(2);
    @include padding-leader(2);
    @include padding-trailer(2);
  }

}

///////////////////////////////////////////////
// UTILITIES
///////////////////////////////////////////////

.group {
  @extend %group;
}

.container {
  @extend %container;
}

.alignleft {
  float: left;
  margin-right: rhythm(1);
  @include trailer;

  > * {
    max-width: 100%;
  }
}

.alignright {
  float: right;
  margin-left: rhythm(1);
  @include trailer;

  > * {
    max-width: 100%;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.highlight {
  @extend %code;
  padding: rhythm(0.5);
  @include adjust-font-size-to($font-s, 0.7);

  pre {
    margin: 0;
    overflow-x: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.hidden {
  @extend %hidden;
}

///////////////////////////////////////////////
// ICONS
///////////////////////////////////////////////

@import 'icons';

.icon-twitter,
.icon-twitter-square {
  color: #00acee;
}

.icon-linkedin {
  color: #0e76a8;
}

.icon-lastfm {
  color: #c3000d;
}

.icon-instagram {
  color: #3f729b;
}

.icon-facebook {
  color: #3b5998;
}

.icon-foursquare {
  color: #25a0ca;
}

///////////////////////////////////////////////
// BREAKPOINTS
///////////////////////////////////////////////

// > 320px

@media screen and (min-width: 20em) {

}

// > 480px

@media screen and (min-width: 30em) {

  body {
    font-size: 112.5%; // 18px
  }

}

// < 600px

@media screen and (max-width: 37.5em) {

}

// > 600px

@media screen and (min-width: 37.5em) {
  
}

// > 800px

@media screen and (min-width: 50em) {

  body {
    font-size: 125%; // 20px
  }

}

// > 1024px

@media screen and (min-width: 64em) {

  body {
    font-size: 137.5%; // 22px
  }

}

// > 1200px

@media screen and (min-width: 75em) {

  body {
    font-size: 150%; // 24px;
  }

}

// > 1920px

@media screen and (min-width: 120em) {

  body {
    font-size: 162.5%; // 26px
  }

}

///////////////////////////////////////////////
// VENDOR
///////////////////////////////////////////////

@import 'syntax';