
///////////////////////////////////////////////
// CONFIG
///////////////////////////////////////////////

// COMPASS DEFAULTS

$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;

// COMPASS

@import 'compass';

// FUNCTIONS & MIXINS

@function em($px, $base: $base-font-size) {
  @return ($px / $base) * 1em;
}

@mixin above($breakpoint) {
  // > 320px
  @if $breakpoint == '-' {
    @media screen and (min-width: 20em) {
      @content;
    }
  }
  // > 480px
  @else if $breakpoint == '--' {
    @media screen and (min-width: 30em) {
      @content;
    }
  }
  // > 600px
  @else if $breakpoint == '---' {
    @media screen and (min-width: 37.5em) {
      @content;
    }
  }
  // > 800px
  @else if $breakpoint == '----' {
    @media screen and (min-width: 50em) {
      @content;
    }
  }
  // > 1024px
  @else if $breakpoint == '-----' {
    @media screen and (min-width: 64em) {
      @content;
    }
  }
  // > 1200px
  @else if $breakpoint == '------' {
    @media screen and (min-width: 75em) {
      @content;
    }
  }
  // > 1920px
  @else if $breakpoint == '-------' {
    @media screen and (min-width: 120em) {
      @content;
    }
  }
}

@mixin below($breakpoint) {
  // < 320px
  @if $breakpoint == '-' {
    @media screen and (max-width: 20em) {
      @content;
    }
  }
  // < 480px
  @else if $breakpoint == '--' {
    @media screen and (max-width: 30em) {
      @content;
    }
  }
  // < 600px
  @else if $breakpoint == '---' {
    @media screen and (max-width: 37.5em) {
      @content;
    }
  }
  // < 800px
  @else if $breakpoint == '----' {
    @media screen and (max-width: 50em) {
      @content;
    }
  }
  // < 1024px
  @else if $breakpoint == '-----' {
    @media screen and (max-width: 64em) {
      @content;
    }
  }
  // < 1200px
  @else if $breakpoint == '------' {
    @media screen and (max-width: 75em) {
      @content;
    }
  }
  // < 1920px
  @else if $breakpoint == '-------' {
    @media screen and (max-width: 120em) {
      @content;
    }
  }
}

@mixin hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// SITE CONFIG

$debug: false;
// $debug: true;

$body-padding: 1em;

$color-black: #444;
$color-light-grey: #f1f1f1;
$color-grey: #ccc;
$color-primary: rgb(55, 188, 250);

$font-xxl: 28px;
$font-xl: 24px;
$font-l: 20px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;

$space-xs: 0.25em;
$space-s: 0.5em;
$space-m: 1em;
$space-l: 2em;
$space-xl: 4em;

$default-text-color: $color-black;

$masthead-width: 80px;
$masthead-width-open: 150px;

///////////////////////////////////////////////
// NORMALIZE
///////////////////////////////////////////////

@import 'normalize';

///////////////////////////////////////////////
// PLACEHOLDERS
///////////////////////////////////////////////

%container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

%group {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%code {
  background: #f1f1f1;
  font-family: monospace;
}

%unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

%hidden {
  @include hidden; 
}

///////////////////////////////////////////////
// GLOBAL
///////////////////////////////////////////////

@include establish-baseline;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-weight: normal;
  font-family: "ff-meta-serif-web-pro", Georgia, "Times New Roman", serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;

  display: flex;
  flex-direction: column;
  min-height: 100%;
  
  @include above('--') {
    font-size: 112.5%; // 18px
  }

  @include above('----') {
    font-size: 125%; // 20px
  }

  @include above('-----') {
    font-size: 137.5%; // 22px
  }

  @include above('------') {
    font-size: 150%; // 24px;
  }

  @include above('-------') {
    font-size: 162.5%; // 26px
  }

  @if $debug == true {
    @include debug-vertical-alignment;
  }
}

p {
  margin: 0;
  @include adjust-leading-to(1);
  @include trailer;
}

a {
  text-decoration: underline;
  color: $default-text-color;
  @include transition(0.25s color ease);

  &:hover {
    color: $color-primary;
  }
}

h1 {
  @include trailer(0.5);
  @include adjust-font-size-to($font-xxl, 1.2);
}

h2, h3 {
  @include trailer(0.5);
  @include adjust-font-size-to($font-xl, 1.2);
}

h4, h5, h6 {
  @include trailer(0.25);
  @include adjust-font-size-to($font-l, 1.2);
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.6em;
   @include adjust-font-size-to($font-xs);
}

sub {
  top: 0.4em;
}

ul, ol {
  padding: 0;
  word-wrap: break-word;
  @include trailer;

  li {
    @include trailer(0.25);
    @include adjust-leading-to(1);
  }

  @include below('---') {
    padding-left: rhythm(1);
  }
}

hr {
  height: 1px;
  border: none;
  background: $color-grey;
}

blockquote {
  border-left: 5px solid $color-primary;
  margin-left: 0;
  margin-right: 0;
  padding-left: rhythm(0.5);
}

code {
  @extend %code;
  padding: 0.125em 0.25em;
}

///////////////////////////////////////////////
// MASTHEAD
///////////////////////////////////////////////

.masthead {
  background: #f5f5f5;
  padding: 0 rhythm(1);
  border-top: 10px solid $color-primary;
  overflow: hidden;
  @include trailer;
  @include adjust-leading-to(3);
  
  a {
    text-decoration: none;
  }

}

.masthead__branding {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  margin: 0 -4px 0 0;
  text-transform: lowercase;
  @include adjust-font-size-to(36px);

  a {
    position: relative;
    display: block;
  }

}

.masthead__nav {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 80%;
  margin: 0 -4px 0 0;

  h1 {
    @extend %hidden;
  }

}

.masthead__nav-list {
  @extend %unstyled-list;
}

.masthead__nav-item {
  display: inline-block;
  margin: 0 0 0 8%;
}

///////////////////////////////////////////////
// MAIN
///////////////////////////////////////////////

#main {
  flex: 1;
}

///////////////////////////////////////////////
// ARTICLE LIST
///////////////////////////////////////////////

.article-list {
  max-width: 800px;
  margin: 0 auto;
}

.article-list__item {
  @extend %group;
  @include trailer;
}

.article-list__meta {
  color: lighten($default-text-color, 25%);
  @include adjust-font-size-to($font-xs);
  @include above('--') {
    width: 20%;
    float: left;
    text-align: right;
    padding-right: rhythm(2);
  }
}

.article-list__content {
  @include above('--') {
    width: 80%;
    float: left;
  }
}

.article-list__title {
  margin: 0;
  @include adjust-font-size-to($font-m);
}

///////////////////////////////////////////////
// ARTICLE
///////////////////////////////////////////////

.article { }

.article__content {
  
  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

}

.article__title {
  text-align: center;
  @include leader;
  @include trailer;
  
  a {
    text-decoration: none;
  }
  
}

.article__pubdate {
  display: block;
  margin: 0;
  color: lighten($default-text-color, 25%);
  @include trailer(0.5);
  @include adjust-font-size-to($font-xs);
}

.article__author {
  @extend %hidden;
}

.article__comments {
  @include leader(2);

  .comments {
    border-top: 1px solid $color-light-grey;
    @include padding-leader(2);
  }
}

.footnotes {
  @include adjust-font-size-to($font-xs);

  p {
    display: inline;
  }
}

///////////////////////////////////////////////
// PAGINATION
///////////////////////////////////////////////

.pagination {
  @extend %group;
  @include leader;
  @include padding-leader;

  @include above('----') {
    padding: 0;
    margin: 0;
    height: 0;
  }
}

.pagination__title {
  font-style: italic;
  @include adjust-font-size-to($font-s);

  @include above('----') {
    @include hidden;
  }
}

.pagination__link {
  @extend %group;
  display: block;
  text-decoration: none;
  background: $color-light-grey;
  @include adjust-font-size-to($font-xs);
  @include trailer(0.5);

  &, &:hover {
    color: $default-text-color;
  }

  i {
    padding: $space-s;
    background: darken($color-light-grey, 5%);
  }

  span {
    display: inline-block;
    padding: $space-s;
  }

  @include above('----') {
    position: fixed;
    top: 60%;
    background: none;
    @include perspective(500px);
    @include adjust-font-size-to($font-l);

    span {
      @include hidden;
    }
    
    i {
      line-height: $font-l;
      background: $color-light-grey;
      @include transition-duration(0.5s);
      @include transition-timing-function(ease);
      @include transition-property(transform);
      @include transform(translateZ(0));
    }
  }

}

.pagination__link--prev {
  i {
    float: left;
    margin-right: $space-s;
  }

  @include above('----') {
    left: 0;
    i {
      margin: 0;
      @include transform-origin(0, 50%);
      &:hover {
        @include transform(rotateY(-35deg));
      }
    }
  }
}

.pagination__link--next {
  text-align: right;
  i {
    float: right;
    margin-left: $space-s;
  }

  @include above('----') {
    right: 0;
    i {
      margin: 0;
      @include transform-origin(100%, 50%);
      &:hover {
        @include transform(rotateY(35deg));
      }
    }
  }
}

///////////////////////////////////////////////
// ABOUT
///////////////////////////////////////////////

.about__icons {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  
  &:hover {
    li {
      opacity: 0.5;
    }
  }

  li {
    margin: 0 0 1em 0;
    padding: 0 0.25em;
    display: inline-block;
    @include transition-duration(0.5s);
    @include transition-property(opacity);
    @include transition-timing-function(ease);

    &:hover {
      opacity: 1;
    }
  }

  i {
    font-size: em(48px);

    @include above('--') {
      font-size: em(80px);
    }

    @include above('---') {
      font-size: 120px;
    }
  }
}
  
.about--fancy {
  display: inline-block;
  @include perspective(1200px);
  
  &:hover {
    li {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @include transform(scale(0.95));
      }
    }
  }

  li {
    @include transition-property(transform opacity);

    &:nth-child(1) {
      @include transform(rotateY(-35deg));
    }
    &:nth-child(2) {
      @include transform(rotateY(35deg));
    }
    &:nth-child(3) {
      @include transform(rotateY(-35deg));
    }
    &:nth-child(4) {
      @include transform(rotateY(35deg));
    }
    &:nth-child(5) {
      @include transform(rotateY(-35deg));
    }
    &:nth-child(6) {
      @include transform(rotateY(35deg));
    }

    &:hover {
      z-index: 10;
      position: relative;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        @include transform(scale(1.2));
      }
    }

  }

  a {
    display: block;
  }

  i {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 20px;
  }
}

///////////////////////////////////////////////
// GRID
///////////////////////////////////////////////

.center {

  > p,
  > blockquote,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > ul,
  > ol,
  > .highlight,
  > .gist,
  > .comments {
    
    @include above('---') {
      margin-left: 10%;
      margin-right: 10%;
    }

    @include above('----') {
      margin-left: 20%;
      margin-right: 20%;
    }

  }

  > .highlight {
    @include trailer;
  }

}

.centered {
  @include above('---') {
    margin-left: 10%;
    margin-right: 10%;
  }

  @include above('----') {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.pull {
  width: 100%;
  @include leader;
  @include trailer;

  img {
    max-width: 100%;
    height: auto;
  }
}

.push-right {
  margin-left: auto;
  margin-right: 0;
}

.pull-left {
  margin-left: 0;
  margin-right: auto;
}

///////////////////////////////////////////////
// FOOTER
///////////////////////////////////////////////

#footer {
  text-align: center;
  @include adjust-font-size-to($font-xs);
  
  .container {
    border-top: 1px solid $color-light-grey;
    @include leader(2);
    @include padding-leader(2);
    @include padding-trailer(2);
  }

  .icon-feed {
    margin-right: 0.5em;
  }

}

///////////////////////////////////////////////
// UTILITIES
///////////////////////////////////////////////

.group {
  @extend %group;
}

.container {
  @extend %container;
}

.alignleft {
  float: left;
  margin-right: rhythm(1);
  @include trailer;

  > * {
    max-width: 100%;
  }
}

.alignright {
  float: right;
  margin-left: rhythm(1);
  @include trailer;

  > * {
    max-width: 100%;
  }
}

.aligncenter {
  display: block;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.highlight {
  @extend %code;
  padding: rhythm(0.5);
  @include adjust-font-size-to($font-s, 0.7);

  pre {
    margin: 0;
    overflow-x: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.hidden {
  @extend %hidden;
}

///////////////////////////////////////////////
// ICONS
///////////////////////////////////////////////

@import 'icons';

.icon-twitter,
.icon-twitter-square {
  color: #00acee;
}

.icon-linkedin {
  color: #0e76a8;
}

.icon-lastfm {
  color: #c3000d;
}

.icon-instagram {
  color: #3f729b;
}

.icon-facebook {
  color: #3b5998;
}

.icon-foursquare {
  color: #25a0ca;
}

.icon-github {
  color: #333;
}

.icon-feed {
  color: #ff6600;
}

///////////////////////////////////////////////
// VENDOR
///////////////////////////////////////////////

@import 'syntax';