/* 
 * Font Custom: bare CSS
 */

@include font-face("icons", font-files(
  'icons.woff', woff,
  'icons.ttf', ttf,
  'icons.svg', svg), 'icons.eot', normal, normal);

%icon-font {
  font-family: "icons";
}

.icon-facebook,
.icon-feed,
.icon-foursquare,
.icon-instagram,
.icon-lastfm,
.icon-linkedin,
.icon-logomark,
.icon-menu,
.icon-twitter-square,
.icon-twitter {
  display: inline-block;
  vertical-align: middle;
  &:before {
    @extend %icon-font;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
  }
}


%icon-facebook-glyph {
  content: "\f100";
}
.icon-facebook:before {
  @extend %icon-facebook-glyph;
}

%icon-feed-glyph {
  content: "\f101";
}
.icon-feed:before {
  @extend %icon-feed-glyph;
}

%icon-foursquare-glyph {
  content: "\f102";
}
.icon-foursquare:before {
  @extend %icon-foursquare-glyph;
}

%icon-instagram-glyph {
  content: "\f103";
}
.icon-instagram:before {
  @extend %icon-instagram-glyph;
}

%icon-lastfm-glyph {
  content: "\f104";
}
.icon-lastfm:before {
  @extend %icon-lastfm-glyph;
}

%icon-linkedin-glyph {
  content: "\f105";
}
.icon-linkedin:before {
  @extend %icon-linkedin-glyph;
}

%icon-logomark-glyph {
  content: "\f106";
}
.icon-logomark:before {
  @extend %icon-logomark-glyph;
}

%icon-menu-glyph {
  content: "\f107";
}
.icon-menu:before {
  @extend %icon-menu-glyph;
}

%icon-twitter-square-glyph {
  content: "\f108";
}
.icon-twitter-square:before {
  @extend %icon-twitter-square-glyph;
}

%icon-twitter-glyph {
  content: "\f109";
}
.icon-twitter:before {
  @extend %icon-twitter-glyph;
}
