/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "icons";
  src: url("icons.eot");
  src: url("icons.eot?#iefix") format("embedded-opentype"),
       url("icons.woff") format("woff"),
       url("icons.ttf") format("truetype"),
       url("icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-facebook:before,
.icon-foursquare:before,
.icon-instagram:before,
.icon-lastfm:before,
.icon-linkedin:before,
.icon-logomark:before,
.icon-menu:before,
.icon-twitter-square:before,
.icon-twitter:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-facebook:before { content: "\f100"; }
.icon-foursquare:before { content: "\f101"; }
.icon-instagram:before { content: "\f102"; }
.icon-lastfm:before { content: "\f103"; }
.icon-linkedin:before { content: "\f104"; }
.icon-logomark:before { content: "\f105"; }
.icon-menu:before { content: "\f106"; }
.icon-twitter-square:before { content: "\f107"; }
.icon-twitter:before { content: "\f108"; }
