{% assign aspect_ratio = include.aspect_ratio | default: 1.0 %}
{% assign background_size = include.background_size | default: 'cover' %}
{% assign caption_position = include.caption_position | default: 'after' %}

{% capture caption %}
<figcaption>
  {% if include.attribution and include.caption %}
    <a href="{{ include.attribution }}">
      {{ include.caption }}
    </a>
  {% else %}
    {{ include.caption | strip }}
  {% endif %}
</figcaption>
{% endcapture %}

<figure>

  {% if include.caption %}
    {% if caption_position == 'before' %}
      {{ caption }}
    {% endif %}
  {% endif %}

  {%
    include image-block.html
      src = include.src
      aspect_ratio = aspect_ratio
      background_size = background_size
  %}

  {% if include.caption %}
    {% if caption_position == 'after' %}
      {{ caption }}
    {% endif %}
  {% endif %}

</figure>
