{% capture size_styles %}
  {% if include.width %} width: {{ include.width }}; {% endif %}
  {% if include.height %} height: {{ include.height }}; {% endif %}
{% endcapture %}

{% capture background_styles %}
  {% if include.background_size %}background-size: {{ include.background_size | default: 'cover' }}; {% endif %}
  {% if include.background_position %}background-position: {{ include.background_position | deafult: 'center' }}; {% endif %}
{% endcapture %}

<div
  class="lazy-image js-lazy-image {{ include.class }}"
  data-src="{{ include.src }}"
  style="{{ size_styles }}"
>
  <div
    class="lazy-image__background js-lazy-image-background"
    style="{{ background_styles }}{{ size_styles }}"
  >
  </div>

  {% if include.alt %}
    <span class="is-visually-hidden">{{ include.alt }}</span>
  {% endif %}

  <noscript>
    <div
      class="lazy-image__background"
      style="opacity: 1; background-image: url({{ include.src }})"
    >
    </div>
  </noscript>
</div>
