{% if page.home %}
  {% assign home = true %}
{% endif %}

{% if post %}
  {% assign page = post %}
{% endif %}

<article class="article">
    
  <h1 class="article__title">
    {% if home == true %}<a href="{{page.url}}">{% endif %}
      {{page.title}}
    {% if home == true %}</a>{% endif %}
  </h1>
    
  {% if page.date %}
  <p class="article__pubdate" ><time datetime="{{page.date | date: '%Y-%m-%d %H:%M'}}">{{page.date | date: '%m/%d/%y'}}, a {{page.date | date: '%A' }}.</time></p>
  {% endif %}

  {{content}}

  {% if page.link %}

  <p class="article__link" target="_blank"><a href="{{page.link}}">Show it to me &rarr;</a></p>

  {% endif %}

</article>