{% assign events = site.data.events | where: "type", "living" %}

{% for event in events %}

  {% assign location = site.data.locations[event.location] %}
  {% assign image = event.image %}
  {% assign width = image.width | times: 1.0 %}
  {% assign height = image.height | times: 1.0 %}
  {% assign aspect_ratio = height | divided_by: width %}

  {% capture dates %}
    {{ event.starts_at | date: '%B %e' }}–{{ event.ends_at | date: '%B %e' }}
  {% endcapture %}

  {% capture caption %}
    {% if event.caption %}<strong>{{ event.caption }}</strong><br />{% endif %}
    {{ location.city }}, {{ location.state }} ({{ dates | strip }})
  {% endcapture %}

  {%
    include figure.html
      src = image.src
      caption = caption
      caption_position = "before"
      aspect_ratio = aspect_ratio
      background_size = "contain"
  %}

{% endfor %}
