{% assign events = site.data.events %}
{% assign featured_events = events | where: "featured", true %}
{% assign number_of_featured_events = featured_events | size %}

{% if page.image %}
  {% assign image = page.image %}
{% else %}
  {% if number_of_featured_events != 0 %}
    {% assign event = featured_events | first %}
  {% else %}
    {% assign event = events | first %}
  {% endif %}
  {% assign image = event.image %}
{% endif %}

{% assign width = image.width | times: 1.0 %}
{% assign height = image.height | times: 1.0 %}
{% assign aspect_ratio = height | divided_by: width %}

<div class="location-hero">
  <a class="location-hero__link" href="/is-in">
    {%
      include image-block.html
        src = image.src
        aspect_ratio = aspect_ratio
        background_size = "contain"
        background_position = "center top"
        class = "location-hero__image"
    %}
  </a>
</div>
