<header id="masthead" class="masthead" role="banner">
  
  <h1 class="masthead__branding"><a href="/">M<span class="hidden">ike Fowler</span></a></h1>

  <nav role="navigation" class="masthead__nav">
    <h1>Navigation</h1>
    <ul class="masthead__nav-list">
      <li class="masthead__nav-item"><a href="/thoughts" onclick="_gaq.push(['_trackEvent', 'Masthead', 'Clicked navigation link', 'Thoughts']);">Thoughts</a></li>
      <li class="masthead__nav-item"><a href="/info" onclick="_gaq.push(['_trackEvent', 'Masthead', 'Clicked navigation link', 'Info']);">Info</a></li>
      <li class="masthead__nav-item"><a href="http://twitter.com/michaelrfowler" target="mike-on-twitter" onclick="_gaq.push(['_trackEvent', 'Masthead', 'Clicked navigation link', 'Twitter']);"><i class="icon-twitter"></i></a></li>
    </ul>
  </nav>
  
</header>