<header id="masthead" class="masthead" role="banner">
  
  <h1 class="masthead__branding"><a href="/">M<span class="hidden">ike Fowler</span></a></h1>

  <nav role="navigation" class="masthead__nav">
    <h1>Navigation</h1>
    <ul class="masthead__nav-list">
      <li class="masthead__nav-item"><a href="/thoughts">Thoughts</a></li>
      <li class="masthead__nav-item"><a href="/info">Info</a></li>
      <li class="masthead__nav-item"><a href="http://twitter.com/michaelrfowler" target="mike-on-twitter"><i class="icon-twitter"></i></a></li>
    </ul>
  </nav>
  
</header>