<aside class="pagination centered">

  <h1 class="pagination__title">More thoughts</h1>

  {% if page.previous.url %}
  <a class="pagination__link pagination__link--prev" href="{{page.previous.url}}" title="Read “{{page.previous.title | escape}}”" onclick="ga('send', event', 'Pagination', 'Clicked previous link', '{{page.previous.title | escape}}');"><i class="icon-point-left"></i><span>“{{page.previous.title}}”</span></a>
  {% endif %}

  {% if page.next.url %}
  <a class="pagination__link pagination__link--next" href="{{page.next.url}}" title="Read “{{page.next.title | escape}}”" onclick="ga('send', event', 'Pagination', 'Clicked next link', '{{page.next.title | escape}}');"><i class="icon-point-right"></i><span>“{{page.next.title}}”</span></a>
  {% endif %}

</aside>