.essay-preview {

}

.essay-preview__link {
  .no-touch &,
  .no-touch &:hover {
    text-decoration: none;
  }
}

.essay-preview__cover {
  overflow: hidden;
  position: relative;
  margin-bottom: $space-sm;
}

.essay-preview__header {
  margin-bottom: $space-md;
}
