.image-card {

}

.image-card__link {
  .no-touch &,
  .no-touch &:hover {
    text-decoration: none;
  }
}

.image-card__cover {
  overflow: hidden;
  position: relative;
  margin-bottom: $space-sm;
}

.image-card__header {
  margin-bottom: $space-md;
}
