.location-hero {
  margin: $space-md auto 0;
  text-align: center;
  position: relative;

  @include sm {
    margin-top: -$space-xs;
  }
}

.location-hero__prefix {
  font-style: italic;

  @include xs {
    font-size: $size-2;
    margin-bottom: $space-sm;
  }
}

.location-hero__image {
  display: block;
  width: auto;
  max-height: 50vh;
  margin: 0 auto;

  @include sm {
    max-height: 75vh;
  }
}
