.location-hero {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.location-hero__prefix {
  display: inline-block;
  font-style: italic;
  margin-bottom: 0.5em;
}

.location-hero__image {
  flex: 1;
}
