// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

@mixin xs {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$widescreen}) {
    @content;
  }
}

// ----------------------------------------------------------------------------
// Utilities
// ----------------------------------------------------------------------------

@mixin visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
