// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

@mixin xs {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$widescreen}) {
    @content;
  }
}

// ----------------------------------------------------------------------------
// Form elements
// ----------------------------------------------------------------------------

@mixin range-track {
  &::-webkit-slider-runnable-track {
    @content;
  }

  &::-moz-range-track {
    @content;
  }

  &::-ms-track {
    @content;
  }
}

@mixin range-thumb {
  &::-webkit-slider-thumb {
    @content;
  }

  &::-moz-range-thumb {
    @content;
  }

  &::-ms-thumb {
    @content;
  }
}

// ----------------------------------------------------------------------------
// Utilities
// ----------------------------------------------------------------------------

@mixin link {
  color: $text;
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: $primary;
  -webkit-text-decoration-skip: ink;
  -webkit-text-decoration-color: $primary;

  .no-touch &:hover {
    color: $primary;
  }
}

@mixin cover-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
