.page {
  padding-top: $space-lg;
  padding-bottom: $space-md;
  width: 100%;
}

.page--home {
  padding: 0;
}

.page__header {
  padding-bottom: $space-sm;
  margin-bottom: $space-md;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: $border-width;
    bottom: 0;
    left: 0;
    background: $border-light;
  }
}

.page__title {
  margin-bottom: 0;
}

.page__subtitle {
  margin: 0;

  .page__title + & {
    margin-top: $unit / 2;
  }

}
