// ----------------------------------------------------------------------------
// Alignment
// ----------------------------------------------------------------------------

.has-text-centered {
  text-align: center;
}

.has-text-centered-sm {
  @include sm {
    text-align: center;
  }
}

.has-text-right {
  text-align: right;
}

.has-text-left {
  text-align: left;
}

// ----------------------------------------------------------------------------
// Typography
// ----------------------------------------------------------------------------

.is-display-typeface {
  font-family: $family-display;
}

.is-bold {
  font-weight: $weight-bold;
}

.is-1 {
  font-size: $size-1;
}

.is-2 {
  font-size: $size-2;
}

.is-3 {
  font-size: $size-3;
}

.is-4 {
  font-size: $size-4;
}

.is-5 {
  font-size: $size-5;
}

.is-6 {
  font-size: $size-6;
}

// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------

.is-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@for $i from 1 through 8 {
  .space-#{$i} {
    margin-bottom: $unit * $i;
  }

  .space-top-#{$i} {
    margin-top: $unit * $i;
  }
}

.is-marginless {
  margin: 0;
}

p a,
.paragraph-link {
  text-decoration: underline;
  text-decoration-skip: ink;
  text-decoration-color: $primary;
  -webkit-text-decoration-skip: ink;
  -webkit-text-decoration-color: $primary;

  .no-touch &:hover {
    color: $primary;
  }
}

// ----------------------------------------------------------------------------
// Visibility
// ----------------------------------------------------------------------------

.is-visually-hidden {
  @include visually-hidden;
}

.is-visually-hidden-xs {
  @include xs {
    @include visually-hidden;
  }
}

.is-visually-hidden-sm {
  @include sm {
    @include visually-hidden;
  }
}

.is-hidden {
  display: none;
}
