{% if page.home or page.listing %}
  {% assign listing = true %}
{% endif %}

{% if post %}
  {% assign page = post %}
{% endif %}

<article class="article" itemscope itemtype="http://schema.org/BlogPosting">

  <header>

    <h1 class="article__title" itemprop="name">{{page.title }}</h1>

    <div class="article__timestamp">
      <small class="text-muted">
        <time datetime="{{page.date | date: '%Y-%m-%d %H:%M'}}">{{page.date | date: '%m/%d/%y'}}, a {{page.date | date: '%A' }}.</time>
      </small>
    </div>

  </header>

  <div class="article__content" itemprop="articleBody">
    {{content}}
  </div>

  <div class="sr-only" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ site.author.name }}">
    <meta itemprop="image" content="{{ site.author.avatar }}">
    <meta itemprop="url" content="{{ site.url }}">
    <meta itemprop="email" content="{{ site.author.email }}">
    <a href="https://plus.google.com/105713021761107810252?rel=author">Google</a>
  </div>

  <meta itemprop="articleSection" content="{{ page.category }}">
  <meta itemprop="wordCount" content="{{ page.content | number_of_words }}">

  <div class="article__comments">
    {% include comments.html %}
  </div>

</article>
