<section class="essay-preview {% if include.size == "large" %}essay-preview--large{% endif %}">

  <a href="{{ essay.url }}" class="essay-preview__link">

    {% if essay.image %}
      <div
        aria-hidden
        class="essay-preview__cover"
      >
        {%
          include lazy-image.html
            src = essay.image.path
            width = "100%"
            height = "100%"
        %}
      </div>
    {% endif %}

    <header class="essay-preview__header">

      <h1 class="essay-preview__title paragraph-link is-4">
        {{ essay.title }}
      </h1>

      <time datetime="{{ essay.date | date_to_xmlschema }}">
        {{ essay.date | date: '%B %Y' }}
      </time>

    </header>

  </a>

</section>
