---
layout: default
---

{% capture hide_title %}
  {% if page.hide_title %}is-visually-hidden{% endif %}
{% endcapture %}

<article class="essay">

  <header class="essay__header container">
    <div class="row center-sm">
      <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
        <h1 class="essay__title">{{ page.title }}</h1>
      </div>
    </div>
  </header>

  {% if page.soundcloud %}
    <div class="container">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
          {% include embed/soundcloud.html id = page.soundcloud %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
        {{ content }}
      </div>
    </div>
  </div>

</article>
