---
layout: default
---

{% assign container = page.layout_options.container %}

<article class="page page--{{ page.title | downcase | handleize }} container">

  {% unless page.layout_options.hide_page_title %}
    {%
      include page/header.html
        title = page.title
        subtitle = page.subtitle
    %}
  {% endunless %}

  {% unless container == false %}
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 col-md-6 has-text-left">
  {% endunless %}

  {{ content }}

  {% unless container == false %}
      </div>
    </div>
  {% endunless %}

</article>
