---
layout: default
---

{% assign image = page.image %}
{% capture image_caption %}
  {% if image.caption %}
    {{ image.caption }}
  {% else if image.attribution %}
    {{ image.attribution }}
  {% endif %}
{% endcapture %}
{% assign image_caption = image_caption | strip %}

<article class="post">

  <header class="post__header container">
    <div class="row center-sm">
      <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
        <a href="{{ page.url }}">
          <h1 class="post__title">{{ page.title }}</h1>
        </a>
        <time class="post__date subtitle is-6">
          {{ page.date | date: "%B %e, %Y" }}
        </time>
      </div>
    </div>
  </header>

  {% if image and image.src %}
    <div class="post__image container" aria-hidden="true">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-10 col-md-10">
          <figure>
            <img
              src="{{ image.src}}"
              alt="{{ image_caption }}"
            />
            {% if image_caption %}
              <figcaption>
                {% if image.attribution %}
                  <a href="{{ image.attribution }}" target="_blank" rel="nofollow">
                    {{ image_caption }}
                  </a>
                {% else %}
                  {{ image_caption }}
                {% endif %}
              </figcaption>
            {% endif %}
          </figure>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
        {{ content }}
      </div>
    </div>
  </div>

</article>

{% include post/pagination.html %}
