---
layout: default
---

{% assign image = page.image %}

<article class="post">

  <header class="post__header container">
    <div class="row center-sm">
      <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
        <a href="{{ page.url }}">
          <h1 class="post__title">{{ page.title }}</h1>
        </a>
        <time class="post__date subtitle is-6">
          {{ page.date | date: "%B %e, %Y" }}
        </time>
      </div>
    </div>
  </header>

  {% if image and image.path and image.display != false %}
    <div class="post__image container" aria-hidden="true">
      <div class="row center-xs">
        <div class="col-xs-12 col-sm-10 col-md-10">
          {%
            include figure.html
              src = image.path
              aspect_ratio = 0.6
              caption = image.caption
              attribution = image.attribution
              background_size = image.background_size
          %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-8 col-md-6 start-xs">
        {{ content }}
      </div>
    </div>
  </div>

  {% include post/pagination.html %}

</article>
