@include font-face('icons',
  inline-font-files(
    'icons.woff', woff,
    'icons.ttf', ttf,
    'icons.svg', svg),
    'icons.eot');

%icon-font {
  font-family:"icons";
}

%icon {
  @extend %icon-font;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  &::before {
    line-height: 1;
  }
}

.icon-facebook, 
.icon-feed, 
.icon-foursquare, 
.icon-github, 
.icon-info, 
.icon-instagram, 
.icon-lastfm, 
.icon-linkedin, 
.icon-logomark, 
.icon-menu, 
.icon-point-left, 
.icon-point-right, 
.icon-thoughts, 
.icon-twitter-square, 
.icon-twitter { 
  @extend %icon;
}

%icon-facebook-glyph {
  content:"\f100";
}
.icon-facebook::before {
  @extend %icon-facebook-glyph;
}

%icon-feed-glyph {
  content:"\f101";
}
.icon-feed::before {
  @extend %icon-feed-glyph;
}

%icon-foursquare-glyph {
  content:"\f102";
}
.icon-foursquare::before {
  @extend %icon-foursquare-glyph;
}

%icon-github-glyph {
  content:"\f103";
}
.icon-github::before {
  @extend %icon-github-glyph;
}

%icon-info-glyph {
  content:"\f104";
}
.icon-info::before {
  @extend %icon-info-glyph;
}

%icon-instagram-glyph {
  content:"\f105";
}
.icon-instagram::before {
  @extend %icon-instagram-glyph;
}

%icon-lastfm-glyph {
  content:"\f106";
}
.icon-lastfm::before {
  @extend %icon-lastfm-glyph;
}

%icon-linkedin-glyph {
  content:"\f107";
}
.icon-linkedin::before {
  @extend %icon-linkedin-glyph;
}

%icon-logomark-glyph {
  content:"\f108";
}
.icon-logomark::before {
  @extend %icon-logomark-glyph;
}

%icon-menu-glyph {
  content:"\f109";
}
.icon-menu::before {
  @extend %icon-menu-glyph;
}

%icon-point-left-glyph {
  content:"\f10a";
}
.icon-point-left::before {
  @extend %icon-point-left-glyph;
}

%icon-point-right-glyph {
  content:"\f10b";
}
.icon-point-right::before {
  @extend %icon-point-right-glyph;
}

%icon-thoughts-glyph {
  content:"\f10c";
}
.icon-thoughts::before {
  @extend %icon-thoughts-glyph;
}

%icon-twitter-square-glyph {
  content:"\f10d";
}
.icon-twitter-square::before {
  @extend %icon-twitter-square-glyph;
}

%icon-twitter-glyph {
  content:"\f10e";
}
.icon-twitter::before {
  @extend %icon-twitter-glyph;
}
